@font-face {
    font-family: Bebas;
    src: url(/fonts/GFSNeohellenic-Regular.woff);
}

@font-face {
    font-family: Bebas;
    src: url(/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Kanit;
    src: url(/fonts/Kanit-Regular.woff);
}


:root {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    --spartan-red: #8b0000;
    --spartan-green: #008000;
    --spartan-black: #000000;
    --spartan-darkgray: #2f2f2f;
    --spartan-gray: #808080;
    --spartan-lightgray: #525252;
    --spartan-white: #ffffff;
    --spartan-gold: #b8860b;
}

h1, h2, h3, p, a {
    margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
	vertical-align: baseline;
}

h1 {
    font-family: Bebas;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 a {
    color: var(--spartan-red);
}

p {
    font-family: Kanit;
    color: var(--spartan-lightgray);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Kanit;
    cursor: default;
}

.bg-img {
    
    background-image: url('/imgs/photo-1526506118085-60ce8714f8c5.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%; /*Covers 35% left of the viewport */
    height: 100vh; /* To scale down to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(47, 47, 47, 0.7);;
}

.logo img {
    border: 4px solid var(--spartan-white);
    border-radius: 50%;
    width: 120px;
    margin: 0;
    padding: 0;
}

.logo h1 {
    color: var(--spartan-white);
    font-size: 70px;
    padding: 0;
    margin: 0;
    font-family: Greek;
}

footer {
    margin-bottom: 10px;
}

.bg-img footer p {
    color: var(--spartan-lightgray);
    font-size: 12px;
    text-align: center;
}

footer a {
    color: var(--spartan-lightgray);
    text-decoration: underline;
}

main {
    width: 65%; /* Takes up the remaining 65% of the viewport */
    height: 100vh; /* To scale down to the bottom */
    overflow-y: auto;
}

section {
    width: 700px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 35px;
}

form {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 10px;
    font-family: Kanit;
    width: 65vw;
    margin-bottom: 50px;
    justify-content: baseline;
    box-shadow: 
    0 -10px 15px rgba(0, 0, 0, 0.2),
    0 10px 15px rgba(0, 0, 0, 0.2);
}

form h2 {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: Bebas;
    letter-spacing: 1.5px;
    color: var(--spartan-darkgray);
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 600px;
}

.name-inputs,
.contact-inputs,
.pass-inputs {
    display: flex;
    gap: 50px;
}

label {
    display: block; /* Puts the label on top of input*/
    color: var(--spartan-lightgray);
    font-size: 15px;
    width: fit-content;
}

input {
    font-size: 15px;
    height: 25px;
    width: 250px;
    border: 2px solid var(--spartan-gray);
    outline: none;
}


button {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: Kanit;
    padding: 7px 30px;
    background-color: var(--spartan-red);
    color: var(--spartan-white);
    border: 2px solid var(--spartan-red);
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active {
    background-color: var(--spartan-gold);
    color: var(--spartan-red);
}

.existing-member {
    font-size: 20px;
    margin-left: 30px;
}

.existing-member a:active {
    color: var(--spartan-gold);
}

.showEffect {
    font-size: 13px;
    color: var(--spartan-red);
    height: 20px;
    margin: 0;
    width: fit-content;
}

.styleInput.success > input {
    border: 2px solid var(--spartan-green);
}

.styleInput.error > input {
    border: 2px solid var(--spartan-red);
}

.styleInput.success:focus,
.styleInput.error:focus,
input:focus {
    border: 2px solid var(--spartan-gold);
}